<div>
    <table class="gallery hidden-xs">
        <tr>
            <td rowspan="3" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/b2_1525199307.png);" >
                <div>
                    <h2 class="text-uppercase">Yabanci Bagimsiz Filmler</h2>
                    <p>It is teh ERA of serires.<br>Stream your series in different countries.</p>
                </div>                      
            </td>
            <td rowspan="6" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/b1_1525197297.png);"  >
                <div>
                    <h2 class="text-uppercase">VİZYONDAKİLER</h2>
                    <p>Forget about the old school catalogs<br>Discover the new generation global movie catalog.</p>
                </div>
            </td>
            <td rowspan="2" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/Resim2_1525200952.png);" >
                <div>
                    <h2 class="text-uppercase">Tv showlari</h2>
                    <p>Audiences request more reality every day.<br>Give them what they want </p>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="2" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/b5_1525199408.png);" >
                <div>
                    <h2 class="text-uppercase">ÇOCULAR İÇİN</h2>
                    <p>Kids have not any nation.<br>Localize and stream your show globally.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/b3_1525199481.png);" >
                <div>
                    <h2 class="text-uppercase">YERLI BAĞIMSIZ FİLMLER</h2>
                    <p>#WildLife #Science #Technology #Politics etc.<br>Your documentary is salable. </p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/Resim1_1525200552.png);" >
                <div>
                    <h2 class="text-uppercase">BELGESELLER</h2>
                    <p>Do you have a plot?<br>Let us co-fund it with streaming platforms.</p>
                </div>
            </td>
        </tr>
        <tr></tr>               
    </table>
    <div class="mobile-gallery hidden-lg hidden-md hidden-sm">
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/a1_1525191871.png" class="img-responsive" >
        <h1 class="text-uppercase">Yabancı Bağımsız Filmler</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/Yabanci-Bagimsiz-Fimler-alternative-2_1525142244.jpg" class="img-responsive" >
        <h1 class="text-uppercase">Yerli Bağımsız Filmler</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/vizyondakiler-alternative-1_1525141749.jpg" class="img-responsive" >
        <h1 class="text-uppercase">VİZYONDAKİLER</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/tv-showlari-alternative-3_1525141544.jpg" class="img-responsive" >
        <h1 class="text-uppercase">Tv showlari</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/Cocuklarin-Bayildiklari-alternative-1_1525141324.jpg" class="img-responsive" >
        <h1 class="text-uppercase">ÇOCULAR İÇİN</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/unutulmaz-belgeseller_1525141571.jpg" class="img-responsive" >
        <h1 class="text-uppercase">BELGESELLER</h1>
    </div>
</div>