<div class="container-fluid">
    <table class="gallery hidden-xs">
        <tr>
            <td rowspan="3" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/series_1524751201.png);"  data-aos="flip-left">
                <div>
                    <h2 class="text-uppercase">Series</h2>
                    <p>It is teh ERA of serires.<br>Stream your series in different countries.</p>
                </div>                      
            </td>
            <td rowspan="6" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/movies2_1524752267.png);"   data-aos="flip-up">
                <div>
                    <h2 class="text-uppercase">Movies</h2>
                    <p>Forget about the old school catalogs<br>Discover the new generation global movie catalog.</p>
                </div>
            </td>
            <td rowspan="2" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/reality-tv2_1524752179.png);" data-aos="flip-right">
                <div>
                    <h2 class="text-uppercase">Reality tv</h2>
                    <p>Audiences request more reality every day.<br>Give them what they want </p>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td rowspan="2" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/kid_1524752319.png);" data-aos="flip-left" >
                <div>
                    <h2 class="text-uppercase">Kids</h2>
                    <p>Kids have not any nation.<br>Localize and stream your show globally.</p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="3" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/documentaries2_1524752341.png);" data-aos="flip-left" >
                <div>
                    <h2 class="text-uppercase">Documentaries</h2>
                    <p>#WildLife #Science #Technology #Politics etc.<br>Your documentary is salable. </p>
                </div>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="background-image: url(https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/original1_1524752240.png);" data-aos="flip-down" >
                <div>
                    <h2 class="text-uppercase">Fosefi Originals</h2>
                    <p>Do you have a plot?<br>Let us co-fund it with streaming platforms.</p>
                </div>
            </td>
        </tr>
        <tr></tr>               
    </table>
    <div class="mobile-gallery hidden-lg hidden-md hidden-sm">
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/series_1524751201.png" class="img-responsive" data-aos="flip-left" >
        <h1 class="text-uppercase">Series</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/documentaries1_1524752354.png" class="img-responsive" data-aos="flip-right" >
        <h1 class="text-uppercase">Documentaries</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/movies2_1524752267.png" class="img-responsive" data-aos="flip-left" >
        <h1 class="text-uppercase">Movies</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/reality-tv1_1524752205.png" class="img-responsive" data-aos="flip-right" >
        <h1 class="text-uppercase">Reality TV</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/kid_1524752319.png" class="img-responsive" data-aos="flip-left" >
        <h1 class="text-uppercase">Kids</h1>
        <img src="https://d1op7c8sil1f1a.cloudfront.net/imagegallery/original/original2_1524752222.png" class="img-responsive" data-aos="flip-right" >
        <h1 class="text-uppercase">Fosefi Originals</h1>
    </div>
</div>