<div class="col-md-3 col-sm-6 c-margin-b-20">
                    <div class="c-content-product-2 c-bg-white list-box">
                        <div class="c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                  <a class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" href="{$data->playlist_permalink}">{$this->Language['explore']}</a>
                                </div>
                            
                            </div>
                            <div class="c-bg-img-top-center c-overlay-object text-center"><img class="list-poster" src="{$content_poster}" /></div>
                        </div>
                        <div class="c-info">
                            <p class="c-title c-font-18 c-font-slim">
                                <a href="{$this->siteurl}/{$data->playlist_permalink}">{$data->playlist_name|utf8_decode}</a>
                            </p>
                        </div>                     
                    </div>
                </div>