<div class="c-layout-page">
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">{$this->Language['search_results']}</h3>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 20px;min-height: 333px;">
        <div id="content_list"></div>
        <div class="row">
            {if $item_count > 0}
                {include file='../layouts/listitem.html'}       
            {else}
            <div class="col-md-12"><h1>{$this->Language['no_result_found_refine_your_search']}</h1></div>
            {/if}
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        {$pagination}
                    </nav>                        
                </div>
            </div>
        </div>
    </div>
</div>
{literal}
<script>
    function showcart(id, flag) {
        $('.loader_cart').show();
        var url = '{/literal}{$this->siteurl}{literal}/shop/addtocart';
		var reloadUrl = HTTP_ROOT +'/shop/cart';
        $.post(url, {'quantity': 1, 'id': id}, function(res) {
            if (flag == 2) {
                $.pjax({url: reloadUrl, container: '#main'});
				 $('.round-cart').html(eval($('.round-cart').html()) + 1);
                $('#cartpopup').html(res);
					$('.loader_cart').hide();
            } else {
                $('.loader_cart').hide();
                //$('html,body').animate({scrollTop:0}, 500);
                $('.round-cart').html(eval($('.round-cart').html()) + 1);
                $('#cartpopup').html(res);
            }
        })
    }
</script>
{/literal}