<script>
    var muviWaterMarkTrailer = "{$waterMarkOnPlayer}";
</script>
{$content = $item|json_decode}
<input type="hidden" value="{$content->movie_id}" id="p_movieid">
{$casts = $content->casts}
{$directors = $casts->directors}
{$isConverted=$content->is_converted}
{$release_date = $content->release_date}
{$full_release_date = $content->full_release_date}
{$censor_rating = $content->censor_rating|replace:'&nbsp;':''}
{$actors = $casts->actors}
{$all_series = $allseries|json_decode}
{$content_banner=$content->content_banner}
{$trailer_is_converted=$content->trailer_is_converted}
{$pageUrl = $this->ogUrl}
{$user_id=Yii::app()->user->id}
<input class="playlist_user_id" value="{$user_id}" type="hidden">  
<!-- <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
    <div class="container">
        <div class="c-page-title c-pull-left">
            <h3 class="c-font-sbold c-font-uppercase">{$content->title|utf8_decode}</h3>
        </div>
    </div>
</div> -->
<div class=" c-size-sm c-overflow-hide content-details"> 
    {if $content_banner !=''}
    <div style="background-image: url('{$content_banner}');" class="product-banner"></div>
    <!-- <img src="{$content_banner}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" class="img-responsive responsive-image"/> -->
    {/if} 
    <div class="container-fluid" style="padding: 50px; padding-bottom: 0;">
        <div class="c-shop-product-details-2 content-area">
            <div class="row bottom25">
                <div class="col-md-3">
                    <div class="c-product-gallery">
                        <div class="c-zoom1">
                            <div class="artwork-wrapper ">
                                <img src="{$content->poster}" alt="{$content->title|utf8_decode}" title="{$content->title|utf8_decode}" class="img-responsive" />
                                <div class="artwork__meta hide">
                                    <div class="media__block--1">
                                        <a href="browse__music" class="media__block"> <div><i class="fa fa-music"></i>
                                            <h4>{$this->Language['browse_music']}</h4></div></a>
                                        </div>
                                        <div class="media__block--2">
                                            <a href="shop__products" class="media__block"><div>
                                                <i class="fa fa-shopping-cart"></i>
                                                <h4>{$this->Language['shop_products']}</h4></div>
                                            </a>
                                        </div>
                                    </div>
                                    {if $this->add_to_favourite}
                                    <a href="javascript:void(0);" onclick="addFav(this)" name="addfav" class="favAdd" data-fav_status="{$user_status['fav_status']}" data-login_status="{$user_status['login_status']}" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}"> 
                                        <div class="ellipse__shape favourite"> 
                                            {if $user_status['fav_status'] ==0}<i class="fa fa-heart"></i>{else}<i class="fa fa-heart-o"></i>{/if}
                                            <div class="favourite_text">
                                                <span class="favorate__this favourite__content">
                                                    {if $user_status['fav_status'] ==0}{$this->Language['added_to_fav']}{else}{$this->Language['add_to_fav']}{/if}
                                                </span>
                                            </div>
                                        </div>
                                    </a>
                                    {/if}
                                    <div class="ellipse__shape share">
                                        <i class="fa fa-share"></i>

                                        <div class="share_text">
                                            <span class="share__this">
                                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$pageUrl}" data-title="{$this->Language['share_in_facebook']}"><i class="fa fa-facebook-square" aria-hidden="true" title="{$this->Language['share_in_facebook']}"></i></a>
                                                <a target="_blank" href="https://twitter.com/intent/tweet?text={$pageUrl}" data-title="{$this->Language['share_in_twitter']}">  <i class="fa fa-twitter-square" aria-hidden="true" title="{$this->Language['share_in_twitter']}"></i></a>
                                            </span>

                                        </div>
                                    </div>
                                    {if $content->content_types_id == 5}
                                    {if $this->add_to_playlist > 0}
                                    <a href="javascript:void(0);" class="c-white addToPlayList {if $this->user_id < 0} hide{/if}" data-content_id="{$content->movie_stream_id}" data-user_id="{$this->user_id}" data-is_episode="{$content->is_episode}">
                                        <div class="ellipse__shape add-playlist"> 
                                            <i class="fa fa-music" aria-hidden="true"></i>
                                            <div class="add_playlist_text">
                                                <span class="favorate__this">{$this->Language['add_to_playlist']}</span>
                                            </div>
                                        </div>
                                    </a>

                                    {/if}

                                    {if $this->add_to_queue != 0 && $content->full_movie != ''}
                                    <a href="javascript:void(0);" class="c-white addToQue" data-id="{$content->movie_stream_id}"  data-is_episode="{$content->is_episode}">                                 
                                        <div class="ellipse__shape_queue add-queue"> 
                                            <i class="fa fa-list" aria-hidden="true"></i>
                                            <div class="favourite_text">
                                                <span>{$this->Language['add_to_queue']}</span>
                                            </div>
                                        </div>
                                    </a>
                                    {/if}
                                    {/if}

                                </div>
                            </div>
                        </div>
                    </div>   
                    <div class="loader" id="loader_fav"></div>
                    <div class="col-md-6">
                        <div class="c-product-meta">
                            <div class="c-content-title-1" style="float:none;">
                                <h3 class="c-font-uppercase" style="word-wrap: break-word;"> {$content->title|utf8_decode} {if $censor_rating !="" }<span class="label label-red label-green">{$censor_rating} </span> </h3>{/if}
                                <div class="c-line-left"></div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="rating">
                                        {$review_summary}
                                        <span>{$this->Language['viewall']}<a href="#reviews_section" class='review_link'> {$this->Language['reviews']}</a> </span>
                                    </div>
                                </div>
                            </div>
                            {if $content->show_booking_button}
                            {if $content->start_time !="0000-00-00 00:00:00" }
                            <p>
                                <button  name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" data-start_time="{$content->start_time}" data-booking_time="{$content->booking_time}" data-book_type="1" data-booking_with_cal="1" class="btn btn-lg btn-primary addtocal cbook c-btn-square" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['booked']}{else}{$this->Language['book']}{/if}</button>
                            </p>
                            {else}
                            <p>
                             <button  name="addtocal" data-content_id="{$content->movie_id}" data-content_type="{$content->is_episode}" class="btn btn-lg btn-primary addtocal c-btn-square" data-booking_time="{$content->booking_time}" data-book_type="2" data-booking_with_cal="1" type="button"><i class="fa fa-clock-o" aria-hidden="true"></i>{if $content->booking_status}{$this->Language['added_to_calender']}{else}{$this->Language['add_to_calender']}{/if}</button>
                         </p>
                         {/if}
                         {/if}
                         <div class="row meta__info">
                            <div class="col-xs-12">
                                {if $full_release_date != ''}
                                <span><i class="glyphicon glyphicon-calendar"></i> {$full_release_date} </span>
                                {/if}
                                {if $content->video_duration != '' }
                                <span><i class="glyphicon glyphicon-time"></i> {$content->video_duration} </span>
                                {/if}
                                {if $content->genres|@count > 0}
                                <span>
                                    <i class="glyphicon glyphicon-list-alt"></i>

                                    {$genre_count = $content->genres|count}
                                    {$j=0}
                                    {foreach from=$content->genres item=genre}{$genre}{$j = $j+1}
                                    {if $j != $genre_count}
                                    /
                                    {/if}
                                    {/foreach}
                                </span> 
                                {/if}
                            </div>                            
                        </div>

                        <div class="row">
                            <div class="col-xs-12">
                                {if $content->story !='' } 
                                <p>
                                    {if $content->story|utf8_decode|count_characters > 75}{$content->story|utf8_decode|truncate:190}&nbsp;&nbsp;
                                    <a href="javascript:void();" class="more" data-toggle="modal" data-target=".bs-example-modal-lg2">
                                        <b>{$this->Language['more']}</b>
                                    </a>
                                    {else}{$content->story|utf8_decode}{/if}
                                </p>
                                {/if}
                                {foreach from=$casts key=counter item=cast}
                                {if $cast|count>0} 
                                {assign var=val value=$val+1}
                                {/if}
                                {/foreach}                                
                                {if $val > 0 && $cast|is_array}
                                <div class="product-casts">
                                    {foreach from=$casts key=role item=cast}                                    
                                    {foreach from=$cast key=counter item=cast_role}
                                    <span>
                                        <a href="{$cast_role->full_permalink}">
                                            <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb img-circle" width="50" height="50">
                                        </a>
                                        <p class="light-grey">
                                            <a href="{$cast_role->full_permalink}">{$cast_role->celeb_name}</a><br />{$role}
                                        </p>
                                    </span>
                                    {/foreach}
                                    {/foreach}
                                </div>
                                {/if}
                            </div>
                        </div> 

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-price-btns">

                        {if $pricing_text !=''}
                        {assign var=subprice value=$subscribed_price|mb_substr:1}
                        {assign var=unsubprice value=$unsubscribed_price|mb_substr:1}
                        <div class="ppv_price" style="display: none;">
                           {if $is_subscribed} 
                           <h1>{$subprice}{$subscribed_price|truncate:1:"":true}</h1>
                           <h4> <b style="color: #e73946;text-decoration: line-through;">{$unsubprice}{$unsubscribed_price|truncate:1:"":true}</b></h4>
                           {else}
                           <h1>{$unsubprice}{$unsubscribed_price|truncate:1:"":true}</h1>
                           <h4><b style="color: #e73946;text-decoration: line-through;">{$subprice}{$subscribed_price|truncate:1:"":true}</b></h4>                           
                           {/if}
                       </div>
                       {/if}

                       <div class="action__sec">

                        {if $content->content_types_id != 5}
                        {if $content->is_downloadable == 1}
                        {$content->download_btn}
                        {elseif $content->is_downloadable == 2}
                        {if $content->play_btn != ''} {$content->play_btn}{/if}
                        {$content->download_btn}
                        {else}
                        {if $content->play_btn != ''} {$content->play_btn}{/if}
                        {/if}                               
                        {/if}
                        {if $trailer_is_converted !=''}  <a href="#" class="btn btn-default c-btn btn-lg c-font-bold  c-btn-square c-font-uppercase" id="trailer-btn">{$this->Language['view_trailer']}</a> {/if}
                        {if $content->content_types_id == 5}
                        {if  $content->full_movie != ''}                               
                        {if $content->is_downloadable == 1}
                        {$content->download_btn}
                        {elseif $content->is_downloadable == 2}
                        {if $content->play_btn != ''} <a href="javascript:void(0);"  class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercas" onclick="playAudio(this)" id="{$content->movie_id}" data-content_type="{$content->is_episode}" >{$this->Language['btn_play']}</a>{/if}
                        {$content->download_btn}
                        {else}
                        {if $content->play_btn != ''}  <a href="javascript:void(0);"  class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercas" onclick="playAudio(this)" id="{$content->movie_id}" data-content_type="{$content->is_episode}" >{$this->Language['btn_play']}</a>{/if}
                        {/if}
                        {/if}
                        {/if}
                        {if $content->content_types_id == 6}
                        <a href="#" class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" data-index="0" onclick="playAllAudio(this)" id="{$content->movie_id}">{$this->Language['play_all']}</a>
                        {/if}
                    </div>
                </div>
            </div>
        </div>
        <div class="row bottom25 hide">

            {if Yii::app()->general->getStoreLink()}
            {if !empty($contentproduct)}
            <div class="container" id="shop__products">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="c-shop-product-details-2 content-area ">
                            {include file='../shop/list.html'}
                        </div>
                    </div>
                </div>
            </div>
            {/if}
            {/if}
        </div>
    </div>
    {if $content->content_types_id == 6}
    <div class="bottom30 hidden-xs hidden-sm"></div>
    <div class="bottom30 hidden-xs hidden-sm"></div>
    <div class="row bottom25">
        <div class="col-md-12">
            <div class="track__header">
                <div id="player-blur"><img src="{$content->poster}"></div>
                <span class="c-font-white">{$this->Language['tracklist']}</span> </div>
                <div class="bottom30 hidden-xs"></div>
                <div class="bottom30 hidden-xs hidden-sm"></div>
                <input type="hidden" name="content_id" id="content_id" value="{$content->movie_id}" />
                <input type="hidden" id ="episode_type" value="{$content->content_types_id}">
                <div class="track-content">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <ol class="tracklist record-tracklist">

                            </ol>
                        </div>
                        <div class="loader loader_episode"  style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div>
                    </div>
                </div>
            </div>
        </div>
        {/if}
        <div class="row bottom25" id='reviews_section'>
            <div class="col-md-12">
                <div class="loader" id="loader_review"></div>
                <div class="form-group review_form  c-content-title-1">
                    {$review_form}
                </div>
            </div>
        </div>

        {if $this->studio->comment_activated == 1}
        <div class="row">
            {include file='../media/comment_form.html'}
            {include file='../media/comment_list.html'}            
        </div>
        {/if}
    </div>

</div>


<div id="myTrailer"> 
    <div class="wrapper">
        <div class="videocontent"></div> 
    </div>
</div>
</div>


<script type="text/javascript" src="{$this->siteurl}/common/js/fancybox.js"></script>
<link rel="stylesheet" href="{$this->siteurl}/common/css/fancybox.css" type="text/css" media="screen" />
<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
<script type="text/javascript">
    var trailerUrl = '{$item->trailer_url}';
    var trailerIsConverted = '{$item->trailer_is_converted}';
    var v_logo = '{$item->v_logo}';
    var HTTP_ROOT = '{$this->siteurl}';
    var is_mobile = 0;
    var multipleVideoResolution = {$multipleVideo|json_encode};
    var defaultResolution = '{$defaultResolution}';
    var createSignedUrl = "{$this->siteurl}/user/getNewSignedUrlForTrailer";
    $(document).ready(function () {
        $('.videocontent').hide();
        $('a.review_link').click(function(){
            $('html, body').animate({
                scrollTop: $($(this).attr('href')).offset().top
            }, 500);
            return false;
        });
    });

</script>
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
{literal}
<script type="text/javascript">
    $(document).ready(function () {
        $('.loader').hide();
        $('#main').addClass('c-layout-page');
        var user_id = $('.playlist_user_id').val();
        episodeContent();

    });

    
</script>
{/literal}
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content">
        <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button> 
            <h4 class="modal-title" id="mySmallModalLabel">{$this->Language['cast']}</h4> 
        </div>
        <div class="modal-body"> 
            <!--Star/Cast lists-->
            {assign var=val value=0}
            {foreach from=$casts key=counter item=cast}
            {if $cast|count>0} 
            {assign var=val value=$val+1}
            {/if}
            {/foreach}                                
            {assign var=counte value=0}
            {if $val > 0}
            <div class="row">                                
                {foreach from=$casts key=role item=cast}                                    
                {foreach from=$cast key=counter item=cast_role}
                <div class="col-md-6 col-sm-6">
                    <div class="cast clearfix">
                        <a href="{$cast_role->full_permalink}">  <img src="{$cast_role->celeb_image}" alt="{$cast_role->celeb_name}" title="{$cast_role->celeb_name}" class="recent-thumb" width="50" height="50"></a>
                        <p class="light-grey"><a href="{$cast_role->full_permalink}"> {$cast_role->celeb_name}</a><br />{$role}</p>
                    </div>
                </div>                        
                {/foreach}                                
                {/foreach}
            </div>
            {/if}
        </div>
    </div>
</div>
</div>
<div class="modal fade bs-example-modal-lg2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content">
        <div class="modal-header"> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title c-font-uppercase c-font-bold" id="mySmallModalLabel">{$this->Language['story']}</h4> 
        </div>
        <div class="modal-body"> 
            {$content->story|utf8_decode}
        </div>
    </div>
</div>
</div>
<div class="container-fluid" ng-app="Player" ng-cloak>
{literal}
    <div class="related-video mt50" ng-controller="related">
        <div ng-if="hasData">
            <div class="row">  
                <div class="col-sm-8 col-lg-8">
                    <h2 class="caps">{/literal}{$this->Language['related_videos']}{literal}</h2>
                </div>
            </div>
            <div class="row">
                <section class="lazy slick relatediniit" >
                    <div class="col-md-3 col-sm-6 c-margin-b-20 slick-slide" ng-repeat="content in contentlist">
                        <div class="c-content-product-2 c-bg-white list-box">
                            <div class="c-content-overlay">
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content" ng-bind-html="content.play_btn | html"></div>
                                </div>
                                <div class="c-bg-img-top-center c-overlay-object text-center">
                                    <img src="{{content.poster}}"> 
                                </div>
                            </div>
                            <div class="c-info">
                                <p class="c-title c-font-18 c-font-slim">
                                    <a href="{{content.permalink}}" ng-bind="content.title"></a>
                                </p>
                                <span class="caption_genre c-font-16" ng-repeat="genres in content.genres" ng-bind-template="{{$index == 0 ? '':', '}}{{genres}}"></span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="loader static-loading" id="related_load" ng-if="isLoading"></div>
            <span style="display:none;">{{initSlid("relatediniit")}}</span>
        </div>
    </div>
{/literal}
</div>

<script type="text/javascript">
    var content_id = {$content->movie_id}; 
    var movie_stream_id = {$content->movie_stream_id};
</script>

{literal}
<script>
   var app = angular.module('Player', [])
        .filter('html',function($sce){
        return function(input){
            return $sce.trustAsHtml(input);
        };
    });

    app.controller('related', function($scope,$http) {
        $scope.contentlist = ""; 
        $scope.hasData = false; 
        $scope.isLoading = true; 
        $scope.initSlid = function(section){
            if($scope.hasData){
                initSliderJs(section);
                $scope.isLoading = false; 
            }
    };
        $http.get(HTTP_ROOT+"/rest/relatedContent?authToken="+STORE_AUTH_TOKEN+"&content_id="+content_id+"&content_stream_id="+movie_stream_id).then(function (response) {
        if(response.data.contentData.length > 0){
            $scope.contentlist = response.data.contentData;
                $scope.hasData = true;
            }
        });
    });

    function initSliderJs(section){
        setTimeout(function(){
            $('.lazy').not('.slick-initialized').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 6,
                customPadding: '80px',
                autoplay: false,
                autoplaySpeed: 3000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            infinite: false,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $(".lazy."+section).removeClass(section);
        }, 2000);
    }
</script>
{/literal}
